<a href="https://colab.research.google.com/github/MarceloEbed/dio-curso-etl/blob/main/Dados_Quilombolas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 **Dados dos Quilombolas Registrados - Fundação Palmares**

In [131]:
import pandas as pd

In [128]:
df = pd.read_csv ('/content/drive/MyDrive/Dados/planilhacertificadas.csv', encoding='latin-1', sep=';', error_bad_lines=False, dayfirst=True)

In [ ]:
df.head ()

     REGIÃO  UF  ... ENDEREÇO/TELEFONE DA COMUNIDADE OBSERVAÇÕES
0       SUL  RS  ...                             NaN         NaN
1  NORDESTE  PI  ...                             NaN         NaN
2  NORDESTE  PI  ...                             NaN         NaN
3       SUL  RS  ...                             NaN         NaN
4       SUL  RS  ...                             NaN         NaN

[5 rows x 19 columns]

In [ ]:
df["REGIÃO"].unique()

array(['SUL', 'NORDESTE', 'SUDESTE', 'CENTRO-OESTE', 'NORTE',
       'CENTRO OESTE'], dtype=object)

In [ ]:
df["UF"].unique()

array(['RS', 'PI', 'MG', 'SC', 'MA', 'RN', 'GO', 'SE', 'RO', 'BA', 'PB',
       'PA', 'SP', 'RJ', 'CE', 'TO', 'PR', 'PE', 'ES', 'AL', 'MS', 'AP',
       'MT', 'AM', 'SE ', 'MG      ', 'BA      ', 'BA '], dtype=object)

In [122]:
df.dtypes

REGIÃO                               object
UF                                   object
MUNICÍPIO                            object
CÓDIGO DO IBGE                       object
DENOMINAÇÃO DA COMUNIDADE            object
ID QUILOMBOLA                       float64
Nº PROCESSO NA FCP                   object
DATA DA ABERTURA DO PROCESSO         object
Nº DO LIVRO DE REGISTRO               int64
Nº DO REGISTRO                      float64
Nº DA FOLHA DO LIVRO DE REGISTRO      int64
Nº DA PORTARIA DE CERTIFICAÇÃO       object
DATA DA PORTARIA NO D.O.U            object
LINK DA PUBLICAÇÃO NO DOU            object
Nº PROCESSO INCRA                    object
LATITUDE - S-N                       object
LONGITUDE - W-E                      object
ENDEREÇO/TELEFONE DA COMUNIDADE      object
OBSERVAÇÕES                          object
dtype: object