<a href="https://colab.research.google.com/github/MarceloEbed/dio-curso-etl/blob/main/pandasplotting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [3]:
pd.read_csv

In [5]:
df = pd.read_csv('https://raw.githubusercontent.com/ine-rmotr-curriculum/freecodecamp-intro-to-pandas/master/data/btc-market-price.csv')

In [6]:
df.head()

   2017-04-02 00:00:00  1099.169125
0  2017-04-03 00:00:00  1141.813000
1  2017-04-04 00:00:00  1141.600363
2  2017-04-05 00:00:00  1133.079314
3  2017-04-06 00:00:00  1196.307937
4  2017-04-07 00:00:00  1190.454250

In [8]:
df = pd.read_csv('https://raw.githubusercontent.com/ine-rmotr-curriculum/freecodecamp-intro-to-pandas/master/data/eth-price.csv', header=None)

In [9]:
df.head()

           0              1      2
0  Date(UTC)  UnixTimeStamp  Value
1   4/2/2017     1491091200  48.55
2   4/3/2017     1491177600  44.13
3   4/4/2017     1491264000  44.43
4   4/5/2017     1491350400  44.90

In [12]:
df.shape

(363, 3)

In [13]:
df.tail(3)

             0           1       2
360  3/30/2018  1522368000  393.82
361  3/31/2018  1522454400  394.07
362   4/1/2018  1522540800  378.85

In [14]:
df.dtypes

0    object
1    object
2    object
dtype: object

In [18]:
df.plot()

TypeError: ignored