<a href="https://colab.research.google.com/github/MarceloEbed/dio-curso-etl/blob/main/Projeto1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Importando a biblioteca pandas
import pandas as pd

In [3]:
#Importando a base de dados, com modificação do separador. 
df = pd.read_csv ("/ocorrencia_2010_2020.csv", sep=";")

FileNotFoundError: ignored

In [ ]:
#Mostrando as cinco primeiras linhas da base de dados
df.head()

   codigo_ocorrencia  codigo_ocorrencia2  ... ocorrencia_hora total_recomendacoes
0              40211               40211  ...        12:00:00                   0
1              40349               40349  ...        11:05:00                   0
2              40351               40351  ...        03:00:00                   0
3              39527               39527  ...        17:30:00                   0
4              40324               40324  ...        19:25:00                   0

[5 rows x 9 columns]

In [ ]:
#Renomeando as colunas da base de dados
df.rename (columns = {"codigo_ocorrencia":"Codigo","codigo_ocorrencia2":"Codigo2", "ocorrencia_classificacao":"Classificação", "ocorrencia_cidade":"Cidade", "ocorrencia_uf":"UF", "ocorrencia_aerodromo":"Aerodromo","ocorrencia_dia":"Dia", "ocorrencia_hora":"Hora"})

      Codigo  Codigo2  ...      Hora total_recomendacoes
0      40211    40211  ...  12:00:00                   0
1      40349    40349  ...  11:05:00                   0
2      40351    40351  ...  03:00:00                   0
3      39527    39527  ...  17:30:00                   0
4      40324    40324  ...  19:25:00                   0
...      ...      ...  ...       ...                 ...
5747   79804    79804  ...  19:00:00                   0
5748   79757    79757  ...  18:30:00                   0
5749   79802    79802  ...  00:54:00                   0
5750   79756    79756  ...  09:00:00                   0
5751   79844    79844  ...  13:24:00                   0

[5752 rows x 9 columns]

In [ ]:
#Retornando o numero de linhas
df.shape

(5752, 9)

In [ ]:
#Retornando o tipo de dado
df.dtypes

codigo_ocorrencia            int64
codigo_ocorrencia2           int64
ocorrencia_classificacao    object
ocorrencia_cidade           object
ocorrencia_uf               object
ocorrencia_aerodromo        object
ocorrencia_dia              object
ocorrencia_hora             object
total_recomendacoes          int64
dtype: object

In [ ]:
#Retornado os UF
df['ocorrencia_uf'].unique ()

array(['RJ', 'PA', 'MT', 'RS', 'BA', 'AM', 'PR', 'MG', 'SP', 'DF', 'AC',
       'TO', 'SC', 'GO', 'MA', 'ES', 'PE', 'RR', 'MS', 'CE', 'AP', 'AL',
       'RO', 'SE', 'PB', 'PI', 'RN', '**'], dtype=object)

In [ ]:
#Retornado o numero de cidades com ocorrencia por UF
df.groupby("ocorrencia_uf")["ocorrencia_cidade"].nunique()

ocorrencia_uf
**      1
AC     12
AL     11
AM     36
AP      2
BA     53
CE     22
DF      1
ES     18
GO     74
MA     30
MG    122
MS     45
MT     79
PA     52
PB      8
PE     20
PI     18
PR    100
RJ     27
RN     11
RO     12
RR     13
RS     80
SC     46
SE      4
SP    200
TO     18
Name: ocorrencia_cidade, dtype: int64